*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 80vw;
    background-color: darkolivegreen;
    margin: 0 auto;
}

#nav-main{
    width: 100% ;
    display: flex;
    flex-direction: row;
}

main{
    height: 100vw;
    width: 70%;
    text-align: center;
    font-size: calc(2px + 1.7vw);
}

main *{
    margin: 2% 0;
}

nav{
    background-color: beige;
    width: 30%;
}

nav ul{
    padding-left: 0;
    list-style: none;
}

nav li {
    border: 5px solid black;
    width: 80%;
    margin: 5% auto;
    text-align: center;
}

nav a{
    color: mediumaquamarine;
    font-size: calc(2px + 2vw);
    text-decoration: none;
}

/* play around with sizing here */
img{
    width: 500px;
    height: 500px;
}